$small: 900px;
$medium: 1200px;

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: background-color 0.5s;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.253);
    box-shadow: 2px 4px 10px 1px rgba(170, 170, 170, 0.518);
    background: #fff;

.navWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  margin-left: 12%;
  margin-right: 12%;

  .logoWrap {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 20px;
    text-decoration: none;

    .logoIcon {
      color: #eb734a;
      font-size: 30px;
      font-weight: bold;
    }

    .logo {
      color: #003e48;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .menuWrap {
    display: flex;


    @media screen and (max-width: $medium) {
      flex-direction: column;
      gap: 15px;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;

      &.active {
        padding: 20px;
        background: #a09f9f;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    }
    @media screen and (max-width: $small) {
      flex-direction: column;
      gap: 15px;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;

      &.active {
        padding: 20px;
        background: #a09f9f;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 50px;
      margin-right: 80px;

      @media screen and (max-width: $medium) {
        flex-direction: column;
        gap: 30px;
      }
      @media screen and (max-width: $small) {
        flex-direction: column;
        gap: 30px;
      }

      .menuList {
        color: #282e33;
        font-size: 16px;
        cursor: pointer;
        padding-bottom: 20px;
        text-decoration: none;

        &:hover {
          color: #e85a2e;
          border-bottom: 2px solid #e85a2e;
        }
      }
    }

    .btnWrap {
      padding-bottom: 20px;
      text-decoration: none;
      margin-left: 100px;

      .btn {
        background-color: #e85a2e;
        border: 2px solid #e85a2e;
        border-radius: 4px;
        color: #fff;
        padding: 10px 30px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: transparent;
          border: 2px solid #e85a2e;
          color: #e85a2e;
        }
      }
    }
  }

  .nav-icon {
    display: none;

    @media screen and (max-width: $medium) {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-100%, -50%);
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      color: #eb734a;

      .icon {
        width: 3rem;
        height: 3rem;

        @media screen and (max-width: $medium) {
          width: 2rem;
          height: 2rem;
        }
      }
    }
    @media screen and (max-width: $small) {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-100%, -50%);
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      color: #eb734a;

      .icon {
        width: 3rem;
        height: 3rem;

        @media screen and (max-width: $small) {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
}