$small: 900px;
$medium: 1200px;

.footer{
margin-left: 14%;
margin-right: 14%;
padding-top: 2%;
margin-top: 3%;
margin-bottom: 1%;
border-top: 1px solid #d6d6d6;

@media screen and (max-width: $small) {
margin-left: 4%;
margin-right: 4%;
margin-bottom: 2%;
}

.footerWrap{
display: flex;
justify-content: space-between;

@media screen and (max-width: $small) {
flex-direction: column;
align-items: center;
gap: 20px;
}

.copyRight{
font-size: 14px;
font-weight: 500;
color: #595959;
}

.footItem{
display: flex;
align-items: center;
gap: 20px;

@media screen and (max-width: $small) {
align-items: start;
}

.footList{
cursor: pointer;
font-size: 14px;
color: #595959;
font-weight: 500;
    
&:hover{
color: #E85A2E;
}

@media screen and (max-width: $small) {
font-size: 12px;
font-weight: 500;
}
}
}
}
}